# Interpreting unknown locations through mutual relationships

This document is an attempt at finding the location of a person who has not declared this  in his or her profile. this is done through the following steps

- Find all edges in our graph
- Determine the amount of followbacks
- Determine the amount of followbacks that live in our specified location

## Importing data

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib
import json

%matplotlib inline

In [3]:
location= "Eindhoven"
difficulty = .85

In [4]:
df = pd.read_json('data.json')
df

,edges,location,name,pk
0,"[59, 374, 450, 239]",Eindhoven,Robert Mulloy,0
1,"[483, 340]",Amsterdam,Frank Salmon,1
2,"[186, 424]",Amsterdam,Sheila Mandell,2
3,"[356, 93, 236, 456, 140, 30]",Eindhoven,Barbara Bolf,3
4,"[123, 38, 439, 7, 17, 109, 476, 394, 196, 307]",Amsterdam,Joseph Patterson,4
5,"[102, 399, 245, 499, 155, 380, 157, 416]",Eindhoven,Marilyn Spencer,5
6,"[410, 58, 337, 291, 29, 101]",Eindhoven,Aaron Roberts,6
7,"[280, 87, 179, 417, 4, 69, 105, 210, 243, 467]",Amsterdam,Marjorie Shipley,7
8,"[150, 238, 29, 251, 279]",Amsterdam,Kyra Benjamen,8
9,"[97, 140, 152, 73]",Eindhoven,Jerome Smith,9
10,"[459, 277, 348, 451, 225, 369]",Helmond,Curtis Deweese,10
11,"[30, 399, 321]",Eindhoven,Dean Jenkins,11
12,"[41, 55, 457, 294, 51, 379, 471, 23, 19]",Amsterdam,Edna Brooks,12
13,"[15, 377, 75, 151, 345, 465, 241, 432]",Eindhoven,Mary Hammett,13
14,"[480, 326, 476, 152, 357, 409, 398, 181]",Eindhoven,Loretta Johnston,14
15,"[13, 172, 52, 101, 430, 428, 206]",Eindhoven,Margie Dillon,15
16,"[114, 301, 417]",Eindhoven,Betty Johnson,16
17,"[395, 347, 4, 139, 415, 97, 30]",Eindhoven,Bryon Tamm,17
18,"[488, 400, 250, 487, 479, 100, 491, 292, 367, ...",Eindhoven,Sam Phillips,18
19,"[388, 44, 207, 96, 467, 12, 469, 96]",Helmond,Lillie Lyon,19
20,"[460, 128, 51, 382]",Eindhoven,Casey Walker,20
21,"[90, 230, 192, 462, 166, 276, 152]",Amsterdam,Rachel Ginn,21
22,"[161, 236, 95, 146, 154, 299, 354, 404, 59]",Helmond,Dyan Clapp,22
23,"[258, 431]",Eindhoven,Justin Sherman,23
24,"[325, 285, 458]",Helmond,William Rogers,24
25,"[336, 170, 271, 173, 182, 453, 466, 371, 434, ...",Eindhoven,Herbert Orlowski,25
26,"[309, 492, 62, 331, 275, 70, 413, 456, 90]",Eindhoven,Randy Watson,26
27,"[56, 35, 218, 156, 295, 90, 218, 300, 236, 476...",Amsterdam,Pedro Dabadie,27
28,"[372, 267, 89, 106, 173, 161, 285]",Eindhoven,Edward Wilcox,28
29,"[360, 79, 122, 412, 198, 309]",Amsterdam,Kevin Peres,29
...,...,...,...,...
470,"[216, 195, 218, 239, 472, 281]",Amsterdam,Alex Campbell,470
471,"[116, 64, 195, 12]",Eindhoven,Roger Strong,471
472,"[81, 357, 47, 320, 26, 470, 304, 120, 449, 355]",Amsterdam,Christy Jones,472
473,"[482, 360, 142, 313, 215, 115, 108]",Amsterdam,Monica Ault,473
474,"[458, 396, 214, 310, 433, 109, 91, 354]",Eindhoven,Alexander Holman,474
475,"[227, 86, 132, 357, 300, 89, 15, 453, 246]",Eindhoven,Sue Ortiz,475
476,"[477, 327, 14, 165, 27, 152, 293, 439]",Eindhoven,Jerry Shields,476
477,"[161, 476, 50, 353, 446, 228, 43, 435]",Eindhoven,Lucinda Williams,477
478,"[296, 279, 458, 239, 81, 322, 383]",Eindhoven,Ray Meeker,478
479,"[18, 490, 493, 141, 281]",Eindhoven,Yetta Johns,479
480,"[14, 457, 315, 134, 125, 121]",Eindhoven,Grady Hall,480
481,"[35, 267, 294]",Amsterdam,Alice Drake,481
482,"[432, 413, 245, 473, 431, 368, 413, 280]",Eindhoven,Phyllis Mason,482
483,"[106, 257, 446, 445, 129]",Eindhoven,Linda Palacios,483
484,"[494, 240, 73, 205, 74]",Helmond,Craig Goldbach,484
485,"[212, 420, 75, 147, 285, 150, 279]",Eindhoven,Kenneth Colantro,485
486,"[260, 465, 497, 162, 334]",Helmond,Reginald Williams,486
487,"[18, 47, 161, 185, 21, 111, 336]",Amsterdam,Sandra Mara,487
488,"[18, 484, 107, 78, 149, 251, 183, 240]",Eindhoven,James Burch,488
489,"[279, 101, 136, 186, 13, 463, 36, 365]",Amsterdam,Jeanne Huang,489
490,"[495, 196, 276, 479, 246, 119, 119, 456, 60, 4...",Eindhoven,Donna Davis,490
491,"[129, 85, 18, 452, 430, 438, 331, 284, 371]",Amsterdam,Abbey Caldwell,491
492,"[26, 355, 270, 166, 150, 232, 171, 125, 398]",Amsterdam,Stanley Crain,492
493,"[113, 246, 122, 479]",Helmond,Brian Flores,493
494,"[484, 127, 439, 277, 386, 229, 408, 267]",Eindhoven,Bruce Rodriguez,494
495,"[490, 131, 159, 179, 266]",Eindhoven,Inez Green,495
496,"[56, 51, 202]",Eindhoven,Paul Coto,496
497,"[234, 465, 486, 179, 312]",Eindhoven,Linda Wald,497
498,"[261, 255, 92, 183, 476, 174, 31, 436]",Eindhoven,Wilbur Sylvester,498
499,"[254, 120, 485, 156]",Eindhoven,Pat Cox,499

In [4]:
print(df.groupby('location').size())
df.describe()

location
             163
Amsterdam     57
Eindhoven    238
Helmond       42
dtype: int64

               pk
count  500.000000
mean   249.500000
std    144.481833
min      0.000000
25%    124.750000
50%    249.500000
75%    374.250000
max    499.000000

## Parse our data and get accurate counts

In [5]:
df['edge_count'] = df['edges'].map(len)
df

,edges,location,name,pk,edge_count
0,"[258, 122, 111, 290, 327, 114, 464, 469]",Eindhoven,Chung Yin,0,8
1,"[235, 473, 472, 195, 21]",Helmond,Maria Johns,1,5
2,"[98, 205, 151, 321, 246, 400, 13, 453]",Eindhoven,Charles Miller,2,8
3,"[264, 167, 395, 365, 395, 302, 179, 356, 174]",Eindhoven,Sheldon Pulsifer,3,9
4,"[19, 301, 402, 386, 50]",Eindhoven,Curtis Rogers,4,5
5,"[80, 19, 407, 163, 357, 198]",Eindhoven,Karen Harris,5,6
6,"[460, 494, 382, 131, 383, 192, 69, 55]",,Maria Veale,6,8
7,"[353, 457, 13, 184]",Eindhoven,Sharon Ceaser,7,4
8,"[92, 10, 285, 339, 470, 279]",Helmond,Ronald Estrada,8,6
9,"[275, 159, 301, 280, 171, 190, 52, 233, 99, 318]",Eindhoven,Mathew Rhoden,9,10
10,"[71, 302, 8, 451]",Eindhoven,Jason Valdez,10,4
11,"[465, 302]",Eindhoven,Stephanie Gore,11,2
12,"[391, 93, 280, 479]",,Patrick Doherty,12,4
13,"[232, 403, 104, 58, 48, 7, 409]",,George Lemon,13,7
14,"[399, 346, 87, 489, 456]",Eindhoven,Bob Devito,14,5
15,"[321, 38, 319]",Amsterdam,Mildred Johnson,15,3
16,"[187, 125, 77, 73, 420, 66, 282, 377, 495, 157...",,James Knight,16,12
17,"[387, 83, 445, 422, 429, 344, 392]",,Scott Ramos,17,7
18,"[499, 444, 246, 439, 306, 365, 323, 480]",Helmond,John Snider,18,8
19,"[498, 4, 380, 5, 230, 413, 115]",Amsterdam,Joesph Cabrera,19,7
20,"[294, 142, 201, 198, 411, 149, 324, 123, 211, ...",Helmond,Mary Letourneau,20,10
21,"[218, 440, 262, 115, 378, 342, 314]",Eindhoven,Curt Carter,21,7
22,"[438, 378, 444, 153, 48, 405, 472, 326]",Amsterdam,Alice Fitch,22,8
23,"[335, 53, 120, 404]",Eindhoven,Richard Salcido,23,4
24,"[108, 491, 270, 101, 318, 196, 152]",Amsterdam,Thomas Whitfield,24,7
25,"[452, 125, 370, 436, 159, 431, 291, 486]",Helmond,Jonathan Rucker,25,8
26,"[184, 215, 286, 431, 209]",Eindhoven,David Low,26,5
27,"[282, 177, 238, 339, 155, 42, 130, 133, 232, 102]",Eindhoven,Megan Mitchell,27,10
28,"[102, 414, 445, 311, 134, 144, 337, 48, 71, 37...",Eindhoven,Thomas Labadie,28,14
29,"[11, 243, 292, 301]",Eindhoven,Evelyn Montague,29,4
...,...,...,...,...,...
470,"[241, 197, 370, 448]",,Johnnie Flores,470,4
471,"[363, 477, 413, 76, 46, 439, 175, 162]",Eindhoven,Hayley Bradley,471,8
472,"[1, 155, 414, 147, 209, 106, 126, 393, 320, 22]",Eindhoven,Judy Zaiser,472,10
473,"[269, 1, 323, 88, 42, 348, 298, 31, 260, 225, 44]",Amsterdam,Buster Skalicky,473,11
474,"[53, 135, 469, 353, 266, 494, 427, 278, 388, 8...",Helmond,Charles Vanderveen,474,11
475,"[337, 479, 115, 344, 160, 379]",,Cynthia Bigelow,475,6
476,"[324, 184, 338, 328, 493, 72, 82, 359, 287, 444]",Eindhoven,Allan Larose,476,10
477,"[136, 314, 48, 223, 237, 393, 155, 294, 216, 1...",,Dorothy Shin,477,11
478,"[262, 375, 444, 132, 143, 144, 493, 466]",Eindhoven,Matthew Griffith,478,8
479,"[355, 48, 475, 33, 12, 435, 88]",,Jeanne Burr,479,7
480,"[418, 172, 211, 457, 303, 419, 18]",,Robert Bunch,480,7
481,"[352, 54, 452, 174, 178, 202, 28, 92, 61]",,Billie Blais,481,9
482,"[266, 324, 385, 121, 273, 42, 276, 56]",Eindhoven,Kenneth Edwards,482,8
483,"[303, 143, 277]",,Ricardo Hulburt,483,3
484,"[486, 194, 206, 155, 30, 340, 139, 285]",Eindhoven,Edward Mccuen,484,8
485,"[450, 431, 269, 230, 58]",Eindhoven,Michelle Clay,485,5
486,"[484, 280, 90, 298, 311, 434, 303, 453, 493, 4...",Helmond,Tony Ladner,486,15
487,"[427, 120, 408, 236, 353, 441, 474]",,David Stump,487,7
488,"[75, 329, 119, 97, 447, 25, 340, 82, 90, 443]",,Harold Morrison,488,10
489,"[103, 393, 327, 119]",Eindhoven,Carolyn Emry,489,4
490,"[443, 421, 447, 484, 191, 210, 83]",Eindhoven,Helen Thomas,490,7
491,"[353, 174, 277, 58, 339, 71]",Eindhoven,David Storm,491,6
492,"[402, 499]",,Derek Slowinski,492,2
493,"[221, 494, 486, 441, 139, 478]",Eindhoven,Claudie Potts,493,6
494,"[6, 428, 493, 206, 468, 474, 104]",,Sylvia Jones,494,7
495,"[370, 263, 496, 66]",,Mandy Dolan,495,4
496,"[455, 348, 122, 115, 235, 311, 187, 495, 405, 82]",Eindhoven,Patricia Preston,496,10
497,"[183, 114, 437, 65, 167, 381, 354, 94, 124]",Eindhoven,Chad Burns,497,9
498,"[389, 319, 251, 405, 93]",Helmond,Nick Kilgo,498,5
499,"[96, 492, 92, 252]",Eindhoven,Patti Marcus,499,4

## Finding a bi-directional edge

In [6]:
def edge_is_mutual(x):
    counter = 0
    for edge in x.edges:
        if x.pk in df.iloc[edge].edges:
            counter += 1
    return counter

df['followbacks'] = df.apply(edge_is_mutual, axis=1)
df

,edges,location,name,pk,edge_count,followbacks
0,"[258, 122, 111, 290, 327, 114, 464, 469]",Eindhoven,Chung Yin,0,8,8
1,"[235, 473, 472, 195, 21]",Helmond,Maria Johns,1,5,4
2,"[98, 205, 151, 321, 246, 400, 13, 453]",Eindhoven,Charles Miller,2,8,6
3,"[264, 167, 395, 365, 395, 302, 179, 356, 174]",Eindhoven,Sheldon Pulsifer,3,9,7
4,"[19, 301, 402, 386, 50]",Eindhoven,Curtis Rogers,4,5,5
5,"[80, 19, 407, 163, 357, 198]",Eindhoven,Karen Harris,5,6,6
6,"[460, 494, 382, 131, 383, 192, 69, 55]",,Maria Veale,6,8,7
7,"[353, 457, 13, 184]",Eindhoven,Sharon Ceaser,7,4,4
8,"[92, 10, 285, 339, 470, 279]",Helmond,Ronald Estrada,8,6,5
9,"[275, 159, 301, 280, 171, 190, 52, 233, 99, 318]",Eindhoven,Mathew Rhoden,9,10,9
10,"[71, 302, 8, 451]",Eindhoven,Jason Valdez,10,4,3
11,"[465, 302]",Eindhoven,Stephanie Gore,11,2,2
12,"[391, 93, 280, 479]",,Patrick Doherty,12,4,4
13,"[232, 403, 104, 58, 48, 7, 409]",,George Lemon,13,7,5
14,"[399, 346, 87, 489, 456]",Eindhoven,Bob Devito,14,5,3
15,"[321, 38, 319]",Amsterdam,Mildred Johnson,15,3,3
16,"[187, 125, 77, 73, 420, 66, 282, 377, 495, 157...",,James Knight,16,12,8
17,"[387, 83, 445, 422, 429, 344, 392]",,Scott Ramos,17,7,5
18,"[499, 444, 246, 439, 306, 365, 323, 480]",Helmond,John Snider,18,8,7
19,"[498, 4, 380, 5, 230, 413, 115]",Amsterdam,Joesph Cabrera,19,7,6
20,"[294, 142, 201, 198, 411, 149, 324, 123, 211, ...",Helmond,Mary Letourneau,20,10,9
21,"[218, 440, 262, 115, 378, 342, 314]",Eindhoven,Curt Carter,21,7,7
22,"[438, 378, 444, 153, 48, 405, 472, 326]",Amsterdam,Alice Fitch,22,8,8
23,"[335, 53, 120, 404]",Eindhoven,Richard Salcido,23,4,4
24,"[108, 491, 270, 101, 318, 196, 152]",Amsterdam,Thomas Whitfield,24,7,4
25,"[452, 125, 370, 436, 159, 431, 291, 486]",Helmond,Jonathan Rucker,25,8,7
26,"[184, 215, 286, 431, 209]",Eindhoven,David Low,26,5,4
27,"[282, 177, 238, 339, 155, 42, 130, 133, 232, 102]",Eindhoven,Megan Mitchell,27,10,9
28,"[102, 414, 445, 311, 134, 144, 337, 48, 71, 37...",Eindhoven,Thomas Labadie,28,14,13
29,"[11, 243, 292, 301]",Eindhoven,Evelyn Montague,29,4,3
...,...,...,...,...,...,...
470,"[241, 197, 370, 448]",,Johnnie Flores,470,4,4
471,"[363, 477, 413, 76, 46, 439, 175, 162]",Eindhoven,Hayley Bradley,471,8,6
472,"[1, 155, 414, 147, 209, 106, 126, 393, 320, 22]",Eindhoven,Judy Zaiser,472,10,10
473,"[269, 1, 323, 88, 42, 348, 298, 31, 260, 225, 44]",Amsterdam,Buster Skalicky,473,11,9
474,"[53, 135, 469, 353, 266, 494, 427, 278, 388, 8...",Helmond,Charles Vanderveen,474,11,10
475,"[337, 479, 115, 344, 160, 379]",,Cynthia Bigelow,475,6,5
476,"[324, 184, 338, 328, 493, 72, 82, 359, 287, 444]",Eindhoven,Allan Larose,476,10,9
477,"[136, 314, 48, 223, 237, 393, 155, 294, 216, 1...",,Dorothy Shin,477,11,10
478,"[262, 375, 444, 132, 143, 144, 493, 466]",Eindhoven,Matthew Griffith,478,8,8
479,"[355, 48, 475, 33, 12, 435, 88]",,Jeanne Burr,479,7,4
480,"[418, 172, 211, 457, 303, 419, 18]",,Robert Bunch,480,7,6
481,"[352, 54, 452, 174, 178, 202, 28, 92, 61]",,Billie Blais,481,9,9
482,"[266, 324, 385, 121, 273, 42, 276, 56]",Eindhoven,Kenneth Edwards,482,8,8
483,"[303, 143, 277]",,Ricardo Hulburt,483,3,3
484,"[486, 194, 206, 155, 30, 340, 139, 285]",Eindhoven,Edward Mccuen,484,8,8
485,"[450, 431, 269, 230, 58]",Eindhoven,Michelle Clay,485,5,4
486,"[484, 280, 90, 298, 311, 434, 303, 453, 493, 4...",Helmond,Tony Ladner,486,15,12
487,"[427, 120, 408, 236, 353, 441, 474]",,David Stump,487,7,6
488,"[75, 329, 119, 97, 447, 25, 340, 82, 90, 443]",,Harold Morrison,488,10,7
489,"[103, 393, 327, 119]",Eindhoven,Carolyn Emry,489,4,4
490,"[443, 421, 447, 484, 191, 210, 83]",Eindhoven,Helen Thomas,490,7,6
491,"[353, 174, 277, 58, 339, 71]",Eindhoven,David Storm,491,6,6
492,"[402, 499]",,Derek Slowinski,492,2,2
493,"[221, 494, 486, 441, 139, 478]",Eindhoven,Claudie Potts,493,6,6
494,"[6, 428, 493, 206, 468, 474, 104]",,Sylvia Jones,494,7,6
495,"[370, 263, 496, 66]",,Mandy Dolan,495,4,4
496,"[455, 348, 122, 115, 235, 311, 187, 495, 405, 82]",Eindhoven,Patricia Preston,496,10,8
497,"[183, 114, 437, 65, 167, 381, 354, 94, 124]",Eindhoven,Chad Burns,497,9,6
498,"[389, 319, 251, 405, 93]",Helmond,Nick Kilgo,498,5,5
499,"[96, 492, 92, 252]",Eindhoven,Patti Marcus,499,4,4

In [7]:
def is_mutual_with_location(x):
    counter = 0
    for edge in x.edges:
        if x.pk in df.iloc[edge].edges and df.iloc[edge].location == location:
            counter += 1
    return counter

df['followbacks with location'] = df.apply(is_mutual_with_location, axis=1)

df

,edges,location,name,pk,edge_count,followbacks,followbacks with location
0,"[258, 122, 111, 290, 327, 114, 464, 469]",Eindhoven,Chung Yin,0,8,8,4
1,"[235, 473, 472, 195, 21]",Helmond,Maria Johns,1,5,4,3
2,"[98, 205, 151, 321, 246, 400, 13, 453]",Eindhoven,Charles Miller,2,8,6,2
3,"[264, 167, 395, 365, 395, 302, 179, 356, 174]",Eindhoven,Sheldon Pulsifer,3,9,7,5
4,"[19, 301, 402, 386, 50]",Eindhoven,Curtis Rogers,4,5,5,3
5,"[80, 19, 407, 163, 357, 198]",Eindhoven,Karen Harris,5,6,6,0
6,"[460, 494, 382, 131, 383, 192, 69, 55]",,Maria Veale,6,8,7,5
7,"[353, 457, 13, 184]",Eindhoven,Sharon Ceaser,7,4,4,2
8,"[92, 10, 285, 339, 470, 279]",Helmond,Ronald Estrada,8,6,5,3
9,"[275, 159, 301, 280, 171, 190, 52, 233, 99, 318]",Eindhoven,Mathew Rhoden,9,10,9,3
10,"[71, 302, 8, 451]",Eindhoven,Jason Valdez,10,4,3,1
11,"[465, 302]",Eindhoven,Stephanie Gore,11,2,2,1
12,"[391, 93, 280, 479]",,Patrick Doherty,12,4,4,2
13,"[232, 403, 104, 58, 48, 7, 409]",,George Lemon,13,7,5,3
14,"[399, 346, 87, 489, 456]",Eindhoven,Bob Devito,14,5,3,1
15,"[321, 38, 319]",Amsterdam,Mildred Johnson,15,3,3,0
16,"[187, 125, 77, 73, 420, 66, 282, 377, 495, 157...",,James Knight,16,12,8,3
17,"[387, 83, 445, 422, 429, 344, 392]",,Scott Ramos,17,7,5,1
18,"[499, 444, 246, 439, 306, 365, 323, 480]",Helmond,John Snider,18,8,7,4
19,"[498, 4, 380, 5, 230, 413, 115]",Amsterdam,Joesph Cabrera,19,7,6,3
20,"[294, 142, 201, 198, 411, 149, 324, 123, 211, ...",Helmond,Mary Letourneau,20,10,9,5
21,"[218, 440, 262, 115, 378, 342, 314]",Eindhoven,Curt Carter,21,7,7,2
22,"[438, 378, 444, 153, 48, 405, 472, 326]",Amsterdam,Alice Fitch,22,8,8,3
23,"[335, 53, 120, 404]",Eindhoven,Richard Salcido,23,4,4,0
24,"[108, 491, 270, 101, 318, 196, 152]",Amsterdam,Thomas Whitfield,24,7,4,2
25,"[452, 125, 370, 436, 159, 431, 291, 486]",Helmond,Jonathan Rucker,25,8,7,3
26,"[184, 215, 286, 431, 209]",Eindhoven,David Low,26,5,4,3
27,"[282, 177, 238, 339, 155, 42, 130, 133, 232, 102]",Eindhoven,Megan Mitchell,27,10,9,6
28,"[102, 414, 445, 311, 134, 144, 337, 48, 71, 37...",Eindhoven,Thomas Labadie,28,14,13,6
29,"[11, 243, 292, 301]",Eindhoven,Evelyn Montague,29,4,3,2
...,...,...,...,...,...,...,...
470,"[241, 197, 370, 448]",,Johnnie Flores,470,4,4,4
471,"[363, 477, 413, 76, 46, 439, 175, 162]",Eindhoven,Hayley Bradley,471,8,6,3
472,"[1, 155, 414, 147, 209, 106, 126, 393, 320, 22]",Eindhoven,Judy Zaiser,472,10,10,4
473,"[269, 1, 323, 88, 42, 348, 298, 31, 260, 225, 44]",Amsterdam,Buster Skalicky,473,11,9,4
474,"[53, 135, 469, 353, 266, 494, 427, 278, 388, 8...",Helmond,Charles Vanderveen,474,11,10,6
475,"[337, 479, 115, 344, 160, 379]",,Cynthia Bigelow,475,6,5,1
476,"[324, 184, 338, 328, 493, 72, 82, 359, 287, 444]",Eindhoven,Allan Larose,476,10,9,5
477,"[136, 314, 48, 223, 237, 393, 155, 294, 216, 1...",,Dorothy Shin,477,11,10,4
478,"[262, 375, 444, 132, 143, 144, 493, 466]",Eindhoven,Matthew Griffith,478,8,8,4
479,"[355, 48, 475, 33, 12, 435, 88]",,Jeanne Burr,479,7,4,0
480,"[418, 172, 211, 457, 303, 419, 18]",,Robert Bunch,480,7,6,3
481,"[352, 54, 452, 174, 178, 202, 28, 92, 61]",,Billie Blais,481,9,9,7
482,"[266, 324, 385, 121, 273, 42, 276, 56]",Eindhoven,Kenneth Edwards,482,8,8,4
483,"[303, 143, 277]",,Ricardo Hulburt,483,3,3,3
484,"[486, 194, 206, 155, 30, 340, 139, 285]",Eindhoven,Edward Mccuen,484,8,8,6
485,"[450, 431, 269, 230, 58]",Eindhoven,Michelle Clay,485,5,4,3
486,"[484, 280, 90, 298, 311, 434, 303, 453, 493, 4...",Helmond,Tony Ladner,486,15,12,8
487,"[427, 120, 408, 236, 353, 441, 474]",,David Stump,487,7,6,4
488,"[75, 329, 119, 97, 447, 25, 340, 82, 90, 443]",,Harold Morrison,488,10,7,5
489,"[103, 393, 327, 119]",Eindhoven,Carolyn Emry,489,4,4,2
490,"[443, 421, 447, 484, 191, 210, 83]",Eindhoven,Helen Thomas,490,7,6,2
491,"[353, 174, 277, 58, 339, 71]",Eindhoven,David Storm,491,6,6,5
492,"[402, 499]",,Derek Slowinski,492,2,2,2
493,"[221, 494, 486, 441, 139, 478]",Eindhoven,Claudie Potts,493,6,6,4
494,"[6, 428, 493, 206, 468, 474, 104]",,Sylvia Jones,494,7,6,4
495,"[370, 263, 496, 66]",,Mandy Dolan,495,4,4,4
496,"[455, 348, 122, 115, 235, 311, 187, 495, 405, 82]",Eindhoven,Patricia Preston,496,10,8,4
497,"[183, 114, 437, 65, 167, 381, 354, 94, 124]",Eindhoven,Chad Burns,497,9,6,2
498,"[389, 319, 251, 405, 93]",Helmond,Nick Kilgo,498,5,5,2
499,"[96, 492, 92, 252]",Eindhoven,Patti Marcus,499,4,4,3

In [8]:
def is_single_with_location(x):
    location = "Eindhoven"
    counter = 0
    for edge in x.edges:
        if df.iloc[edge].location == location and x.pk not in df.iloc[edge].edges:
            counter += 1
    return counter

df['follows with location'] = df.apply(is_single_with_location, axis=1)

df

,edges,location,name,pk,edge_count,followbacks,followbacks with location,follows with location
0,"[258, 122, 111, 290, 327, 114, 464, 469]",Eindhoven,Chung Yin,0,8,8,4,0
1,"[235, 473, 472, 195, 21]",Helmond,Maria Johns,1,5,4,3,1
2,"[98, 205, 151, 321, 246, 400, 13, 453]",Eindhoven,Charles Miller,2,8,6,2,1
3,"[264, 167, 395, 365, 395, 302, 179, 356, 174]",Eindhoven,Sheldon Pulsifer,3,9,7,5,1
4,"[19, 301, 402, 386, 50]",Eindhoven,Curtis Rogers,4,5,5,3,0
5,"[80, 19, 407, 163, 357, 198]",Eindhoven,Karen Harris,5,6,6,0,0
6,"[460, 494, 382, 131, 383, 192, 69, 55]",,Maria Veale,6,8,7,5,0
7,"[353, 457, 13, 184]",Eindhoven,Sharon Ceaser,7,4,4,2,0
8,"[92, 10, 285, 339, 470, 279]",Helmond,Ronald Estrada,8,6,5,3,0
9,"[275, 159, 301, 280, 171, 190, 52, 233, 99, 318]",Eindhoven,Mathew Rhoden,9,10,9,3,1
10,"[71, 302, 8, 451]",Eindhoven,Jason Valdez,10,4,3,1,0
11,"[465, 302]",Eindhoven,Stephanie Gore,11,2,2,1,0
12,"[391, 93, 280, 479]",,Patrick Doherty,12,4,4,2,0
13,"[232, 403, 104, 58, 48, 7, 409]",,George Lemon,13,7,5,3,1
14,"[399, 346, 87, 489, 456]",Eindhoven,Bob Devito,14,5,3,1,1
15,"[321, 38, 319]",Amsterdam,Mildred Johnson,15,3,3,0,0
16,"[187, 125, 77, 73, 420, 66, 282, 377, 495, 157...",,James Knight,16,12,8,3,1
17,"[387, 83, 445, 422, 429, 344, 392]",,Scott Ramos,17,7,5,1,0
18,"[499, 444, 246, 439, 306, 365, 323, 480]",Helmond,John Snider,18,8,7,4,1
19,"[498, 4, 380, 5, 230, 413, 115]",Amsterdam,Joesph Cabrera,19,7,6,3,0
20,"[294, 142, 201, 198, 411, 149, 324, 123, 211, ...",Helmond,Mary Letourneau,20,10,9,5,0
21,"[218, 440, 262, 115, 378, 342, 314]",Eindhoven,Curt Carter,21,7,7,2,0
22,"[438, 378, 444, 153, 48, 405, 472, 326]",Amsterdam,Alice Fitch,22,8,8,3,0
23,"[335, 53, 120, 404]",Eindhoven,Richard Salcido,23,4,4,0,0
24,"[108, 491, 270, 101, 318, 196, 152]",Amsterdam,Thomas Whitfield,24,7,4,2,2
25,"[452, 125, 370, 436, 159, 431, 291, 486]",Helmond,Jonathan Rucker,25,8,7,3,0
26,"[184, 215, 286, 431, 209]",Eindhoven,David Low,26,5,4,3,0
27,"[282, 177, 238, 339, 155, 42, 130, 133, 232, 102]",Eindhoven,Megan Mitchell,27,10,9,6,0
28,"[102, 414, 445, 311, 134, 144, 337, 48, 71, 37...",Eindhoven,Thomas Labadie,28,14,13,6,1
29,"[11, 243, 292, 301]",Eindhoven,Evelyn Montague,29,4,3,2,1
...,...,...,...,...,...,...,...,...
470,"[241, 197, 370, 448]",,Johnnie Flores,470,4,4,4,0
471,"[363, 477, 413, 76, 46, 439, 175, 162]",Eindhoven,Hayley Bradley,471,8,6,3,0
472,"[1, 155, 414, 147, 209, 106, 126, 393, 320, 22]",Eindhoven,Judy Zaiser,472,10,10,4,0
473,"[269, 1, 323, 88, 42, 348, 298, 31, 260, 225, 44]",Amsterdam,Buster Skalicky,473,11,9,4,0
474,"[53, 135, 469, 353, 266, 494, 427, 278, 388, 8...",Helmond,Charles Vanderveen,474,11,10,6,0
475,"[337, 479, 115, 344, 160, 379]",,Cynthia Bigelow,475,6,5,1,0
476,"[324, 184, 338, 328, 493, 72, 82, 359, 287, 444]",Eindhoven,Allan Larose,476,10,9,5,1
477,"[136, 314, 48, 223, 237, 393, 155, 294, 216, 1...",,Dorothy Shin,477,11,10,4,0
478,"[262, 375, 444, 132, 143, 144, 493, 466]",Eindhoven,Matthew Griffith,478,8,8,4,0
479,"[355, 48, 475, 33, 12, 435, 88]",,Jeanne Burr,479,7,4,0,2
480,"[418, 172, 211, 457, 303, 419, 18]",,Robert Bunch,480,7,6,3,0
481,"[352, 54, 452, 174, 178, 202, 28, 92, 61]",,Billie Blais,481,9,9,7,0
482,"[266, 324, 385, 121, 273, 42, 276, 56]",Eindhoven,Kenneth Edwards,482,8,8,4,0
483,"[303, 143, 277]",,Ricardo Hulburt,483,3,3,3,0
484,"[486, 194, 206, 155, 30, 340, 139, 285]",Eindhoven,Edward Mccuen,484,8,8,6,0
485,"[450, 431, 269, 230, 58]",Eindhoven,Michelle Clay,485,5,4,3,1
486,"[484, 280, 90, 298, 311, 434, 303, 453, 493, 4...",Helmond,Tony Ladner,486,15,12,8,2
487,"[427, 120, 408, 236, 353, 441, 474]",,David Stump,487,7,6,4,0
488,"[75, 329, 119, 97, 447, 25, 340, 82, 90, 443]",,Harold Morrison,488,10,7,5,0
489,"[103, 393, 327, 119]",Eindhoven,Carolyn Emry,489,4,4,2,0
490,"[443, 421, 447, 484, 191, 210, 83]",Eindhoven,Helen Thomas,490,7,6,2,1
491,"[353, 174, 277, 58, 339, 71]",Eindhoven,David Storm,491,6,6,5,0
492,"[402, 499]",,Derek Slowinski,492,2,2,2,0
493,"[221, 494, 486, 441, 139, 478]",Eindhoven,Claudie Potts,493,6,6,4,0
494,"[6, 428, 493, 206, 468, 474, 104]",,Sylvia Jones,494,7,6,4,0
495,"[370, 263, 496, 66]",,Mandy Dolan,495,4,4,4,0
496,"[455, 348, 122, 115, 235, 311, 187, 495, 405, 82]",Eindhoven,Patricia Preston,496,10,8,4,0
497,"[183, 114, 437, 65, 167, 381, 354, 94, 124]",Eindhoven,Chad Burns,497,9,6,2,2
498,"[389, 319, 251, 405, 93]",Helmond,Nick Kilgo,498,5,5,2,0
499,"[96, 492, 92, 252]",Eindhoven,Patti Marcus,499,4,4,3,0

In [9]:
def predict_location_is_match(x):  
    return x['followbacks with location'] + x['follows with location'] >=  difficulty * x['edge_count']
        
    
df['predictions'] = df.apply(predict_location_is_match, axis =1)

In [10]:
def check_location_match(x):
    if x['predictions'] == True and x['location'] == "Eindhoven":
        return True
    elif x['predictions'] == False and x['location'] != "Eindhoven":
        return True
    else:
        return False
    
df['prediction correct'] = df.apply(check_location_match, axis=1)

## Outcome

This is the outcome of our current guessing

In [3]:
correct_count = df['prediction correct'][lambda x: x==True].count()

print("{0} out of {1} predictions were correct".format(correct_count, len(df)))
print("{0}% was correct".format(correct_count/len(df) * 100))

NameError: name 'df' is not defined