In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tempfile

# Import and prepare data

First we read `data.json`

We then start processing this data so we can prepare it for a DNN Classiffier. We prep 4 columns

- edge_count: Total number of edges
- edge_match: Nodes that we know that share the location of this node
- edge_mutual_match: Nodes that we know share the location of this node AND mutually follows this node
- edge_single_match: Nodes that we know share the location of this node BUT does not know this node

In [3]:
df = pd.read_json('data.json')

locations = list(set(df['location']))
df['edge_count'] =  df['edges'].apply(lambda x: len(x))
df['edge_match'] = df.apply(lambda x: len([1 for y in x['edges'] if df.iloc[y]['location']==x['location']]), axis=1)
df['edge_mutual_match'] = df.apply(lambda x: 
                                    len([1 for y in x['edges'] if 
                                         df.iloc[y]['location']==x['location'] and 
                                         int(x['pk']) in df.iloc[y]['edges']]), 
                                    axis=1
                                   )
df['edge_single_match'] = df.apply(lambda x: 
                                    x['edge_match'] -x['edge_mutual_match'], 
                                    axis=1)
df['location_num'] = df['location'].apply(lambda x: locations.index(x))
df

,edges,location,name,pk,edge_count,edge_match,edge_mutual_match,edge_single_match,location_num
0,"[59, 374, 450, 239]",Eindhoven,Robert Mulloy,0,4,3,1,2,0
1,"[483, 340]",Amsterdam,Frank Salmon,1,2,0,0,0,1
2,"[186, 424]",Amsterdam,Sheila Mandell,2,2,0,0,0,1
3,"[356, 93, 236, 456, 140, 30]",Eindhoven,Barbara Bolf,3,6,4,3,1,0
4,"[123, 38, 439, 7, 17, 109, 476, 394, 196, 307]",Amsterdam,Joseph Patterson,4,10,5,5,0,1
5,"[102, 399, 245, 499, 155, 380, 157, 416]",Eindhoven,Marilyn Spencer,5,8,7,4,3,0
6,"[410, 58, 337, 291, 29, 101]",Eindhoven,Aaron Roberts,6,6,2,2,0,0
7,"[280, 87, 179, 417, 4, 69, 105, 210, 243, 467]",Amsterdam,Marjorie Shipley,7,10,2,2,0,1
8,"[150, 238, 29, 251, 279]",Amsterdam,Kyra Benjamen,8,5,2,1,1,1
9,"[97, 140, 152, 73]",Eindhoven,Jerome Smith,9,4,2,1,1,0
10,"[459, 277, 348, 451, 225, 369]",Helmond,Curtis Deweese,10,6,2,2,0,2
11,"[30, 399, 321]",Eindhoven,Dean Jenkins,11,3,2,2,0,0
12,"[41, 55, 457, 294, 51, 379, 471, 23, 19]",Amsterdam,Edna Brooks,12,9,1,1,0,1
13,"[15, 377, 75, 151, 345, 465, 241, 432]",Eindhoven,Mary Hammett,13,8,3,1,2,0
14,"[480, 326, 476, 152, 357, 409, 398, 181]",Eindhoven,Loretta Johnston,14,8,4,4,0,0
15,"[13, 172, 52, 101, 430, 428, 206]",Eindhoven,Margie Dillon,15,7,3,3,0,0
16,"[114, 301, 417]",Eindhoven,Betty Johnson,16,3,1,1,0,0
17,"[395, 347, 4, 139, 415, 97, 30]",Eindhoven,Bryon Tamm,17,7,2,1,1,0
18,"[488, 400, 250, 487, 479, 100, 491, 292, 367, ...",Eindhoven,Sam Phillips,18,10,6,5,1,0
19,"[388, 44, 207, 96, 467, 12, 469, 96]",Helmond,Lillie Lyon,19,8,0,0,0,2
20,"[460, 128, 51, 382]",Eindhoven,Casey Walker,20,4,2,2,0,0
21,"[90, 230, 192, 462, 166, 276, 152]",Amsterdam,Rachel Ginn,21,7,1,1,0,1
22,"[161, 236, 95, 146, 154, 299, 354, 404, 59]",Helmond,Dyan Clapp,22,9,1,1,0,2
23,"[258, 431]",Eindhoven,Justin Sherman,23,2,2,2,0,0
24,"[325, 285, 458]",Helmond,William Rogers,24,3,2,2,0,2
25,"[336, 170, 271, 173, 182, 453, 466, 371, 434, ...",Eindhoven,Herbert Orlowski,25,10,5,5,0,0
26,"[309, 492, 62, 331, 275, 70, 413, 456, 90]",Eindhoven,Randy Watson,26,9,4,4,0,0
27,"[56, 35, 218, 156, 295, 90, 218, 300, 236, 476...",Amsterdam,Pedro Dabadie,27,12,2,2,0,1
28,"[372, 267, 89, 106, 173, 161, 285]",Eindhoven,Edward Wilcox,28,7,4,4,0,0
29,"[360, 79, 122, 412, 198, 309]",Amsterdam,Kevin Peres,29,6,1,1,0,1
...,...,...,...,...,...,...,...,...,...
470,"[216, 195, 218, 239, 472, 281]",Amsterdam,Alex Campbell,470,6,3,2,1,1
471,"[116, 64, 195, 12]",Eindhoven,Roger Strong,471,4,3,2,1,0
472,"[81, 357, 47, 320, 26, 470, 304, 120, 449, 355]",Amsterdam,Christy Jones,472,10,5,5,0,1
473,"[482, 360, 142, 313, 215, 115, 108]",Amsterdam,Monica Ault,473,7,0,0,0,1
474,"[458, 396, 214, 310, 433, 109, 91, 354]",Eindhoven,Alexander Holman,474,8,3,2,1,0
475,"[227, 86, 132, 357, 300, 89, 15, 453, 246]",Eindhoven,Sue Ortiz,475,9,4,3,1,0
476,"[477, 327, 14, 165, 27, 152, 293, 439]",Eindhoven,Jerry Shields,476,8,5,4,1,0
477,"[161, 476, 50, 353, 446, 228, 43, 435]",Eindhoven,Lucinda Williams,477,8,6,6,0,0
478,"[296, 279, 458, 239, 81, 322, 383]",Eindhoven,Ray Meeker,478,7,3,2,1,0
479,"[18, 490, 493, 141, 281]",Eindhoven,Yetta Johns,479,5,3,3,0,0
480,"[14, 457, 315, 134, 125, 121]",Eindhoven,Grady Hall,480,6,3,1,2,0
481,"[35, 267, 294]",Amsterdam,Alice Drake,481,3,1,1,0,1
482,"[432, 413, 245, 473, 431, 368, 413, 280]",Eindhoven,Phyllis Mason,482,8,3,2,1,0
483,"[106, 257, 446, 445, 129]",Eindhoven,Linda Palacios,483,5,2,2,0,0
484,"[494, 240, 73, 205, 74]",Helmond,Craig Goldbach,484,5,1,1,0,2
485,"[212, 420, 75, 147, 285, 150, 279]",Eindhoven,Kenneth Colantro,485,7,2,2,0,0
486,"[260, 465, 497, 162, 334]",Helmond,Reginald Williams,486,5,0,0,0,2
487,"[18, 47, 161, 185, 21, 111, 336]",Amsterdam,Sandra Mara,487,7,3,2,1,1
488,"[18, 484, 107, 78, 149, 251, 183, 240]",Eindhoven,James Burch,488,8,2,2,0,0
489,"[279, 101, 136, 186, 13, 463, 36, 365]",Amsterdam,Jeanne Huang,489,8,2,2,0,1
490,"[495, 196, 276, 479, 246, 119, 119, 456, 60, 4...",Eindhoven,Donna Davis,490,13,8,6,2,0
491,"[129, 85, 18, 452, 430, 438, 331, 284, 371]",Amsterdam,Abbey Caldwell,491,9,3,3,0,1
492,"[26, 355, 270, 166, 150, 232, 171, 125, 398]",Amsterdam,Stanley Crain,492,9,6,4,2,1
493,"[113, 246, 122, 479]",Helmond,Brian Flores,493,4,0,0,0,2
494,"[484, 127, 439, 277, 386, 229, 408, 267]",Eindhoven,Bruce Rodriguez,494,8,2,1,1,0
495,"[490, 131, 159, 179, 266]",Eindhoven,Inez Green,495,5,5,5,0,0
496,"[56, 51, 202]",Eindhoven,Paul Coto,496,3,1,1,0,0
497,"[234, 465, 486, 179, 312]",Eindhoven,Linda Wald,497,5,3,2,1,0
498,"[261, 255, 92, 183, 476, 174, 31, 436]",Eindhoven,Wilbur Sylvester,498,8,3,2,1,0
499,"[254, 120, 485, 156]",Eindhoven,Pat Cox,499,4,3,2,1,0

# Start defining our features

In [4]:
feature_edge_count = tf.feature_column.numeric_column("edge_count")
feature_edge_match = tf.feature_column.numeric_column("edge_match")
feature_edge_mutual_match = tf.feature_column.numeric_column("edge_mutual_match")
feature_edge_single_match = tf.feature_column.numeric_column("edge_single_match")
labels = tf.feature_column.categorical_column_with_vocabulary_list("location", set(df['location']))

base_columns = [feature_edge_count, feature_edge_match, feature_edge_mutual_match, feature_edge_single_match]

In [12]:
model_dir = tempfile.mkdtemp()
m = tf.estimator.DNNClassifier(
    model_dir=model_dir,
    feature_columns=base_columns,
    hidden_units=[100, 500, 100],
)

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpt_zimhdv', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [13]:
def input_fn():
    return tf.estimator.inputs.pandas_input_fn(
        x=df,
        y=df['location_num'],
        num_epochs=None,
        shuffle=True
    )

In [14]:
m.train(input_fn=input_fn(), steps=5000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Error reported to Coordinator: <class 'SystemError'>, <built-in function TF_Run> returned a result with an error set
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpt_zimhdv/model.ckpt.

SystemError: <built-in function TF_Run> returned a result with an error set