In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tempfile

# Import and prepare data

First we read `data.json`

We then start processing this data so we can prepare it for a DNN Classiffier. We prep 4 columns

- edge_count: Total number of edges
- edge_match: Nodes that we know that share the location of this node
- edge_mutual_match: Nodes that we know share the location of this node AND mutually follows this node
- edge_single_match: Nodes that we know share the location of this node BUT does not know this node

In [2]:
df = pd.read_json('data.json')

locations = list(set(df['location']))
df['edge_count'] =  df['edges'].apply(lambda x: len(x))
df['edge_match'] = df.apply(lambda x: len([1 for y in x['edges'] if df.iloc[y]['location']==x['location']]), axis=1)
df['edge_mutual_match'] = df.apply(lambda x: 
                                    len([1 for y in x['edges'] if 
                                         df.iloc[y]['location']==x['location'] and 
                                         int(x['pk']) in df.iloc[y]['edges']]), 
                                    axis=1
                                   )
df['edge_single_match'] = df.apply(lambda x: 
                                    x['edge_match'] -x['edge_mutual_match'], 
                                    axis=1)
df['location_num'] = df['location'].apply(lambda x: locations.index(x))
df

,edges,location,name,pk,edge_count,edge_match,edge_mutual_match,edge_single_match,location_num
0,"[59, 374, 450, 239]",Eindhoven,Robert Mulloy,0,4,3,1,2,1
1,"[483, 340]",Amsterdam,Frank Salmon,1,2,0,0,0,0
2,"[186, 424]",Amsterdam,Sheila Mandell,2,2,0,0,0,0
3,"[356, 93, 236, 456, 140, 30]",Eindhoven,Barbara Bolf,3,6,4,3,1,1
4,"[123, 38, 439, 7, 17, 109, 476, 394, 196, 307]",Amsterdam,Joseph Patterson,4,10,5,5,0,0
5,"[102, 399, 245, 499, 155, 380, 157, 416]",Eindhoven,Marilyn Spencer,5,8,7,4,3,1
6,"[410, 58, 337, 291, 29, 101]",Eindhoven,Aaron Roberts,6,6,2,2,0,1
7,"[280, 87, 179, 417, 4, 69, 105, 210, 243, 467]",Amsterdam,Marjorie Shipley,7,10,2,2,0,0
8,"[150, 238, 29, 251, 279]",Amsterdam,Kyra Benjamen,8,5,2,1,1,0
9,"[97, 140, 152, 73]",Eindhoven,Jerome Smith,9,4,2,1,1,1
10,"[459, 277, 348, 451, 225, 369]",Helmond,Curtis Deweese,10,6,2,2,0,2
11,"[30, 399, 321]",Eindhoven,Dean Jenkins,11,3,2,2,0,1
12,"[41, 55, 457, 294, 51, 379, 471, 23, 19]",Amsterdam,Edna Brooks,12,9,1,1,0,0
13,"[15, 377, 75, 151, 345, 465, 241, 432]",Eindhoven,Mary Hammett,13,8,3,1,2,1
14,"[480, 326, 476, 152, 357, 409, 398, 181]",Eindhoven,Loretta Johnston,14,8,4,4,0,1
15,"[13, 172, 52, 101, 430, 428, 206]",Eindhoven,Margie Dillon,15,7,3,3,0,1
16,"[114, 301, 417]",Eindhoven,Betty Johnson,16,3,1,1,0,1
17,"[395, 347, 4, 139, 415, 97, 30]",Eindhoven,Bryon Tamm,17,7,2,1,1,1
18,"[488, 400, 250, 487, 479, 100, 491, 292, 367, ...",Eindhoven,Sam Phillips,18,10,6,5,1,1
19,"[388, 44, 207, 96, 467, 12, 469, 96]",Helmond,Lillie Lyon,19,8,0,0,0,2
20,"[460, 128, 51, 382]",Eindhoven,Casey Walker,20,4,2,2,0,1
21,"[90, 230, 192, 462, 166, 276, 152]",Amsterdam,Rachel Ginn,21,7,1,1,0,0
22,"[161, 236, 95, 146, 154, 299, 354, 404, 59]",Helmond,Dyan Clapp,22,9,1,1,0,2
23,"[258, 431]",Eindhoven,Justin Sherman,23,2,2,2,0,1
24,"[325, 285, 458]",Helmond,William Rogers,24,3,2,2,0,2
25,"[336, 170, 271, 173, 182, 453, 466, 371, 434, ...",Eindhoven,Herbert Orlowski,25,10,5,5,0,1
26,"[309, 492, 62, 331, 275, 70, 413, 456, 90]",Eindhoven,Randy Watson,26,9,4,4,0,1
27,"[56, 35, 218, 156, 295, 90, 218, 300, 236, 476...",Amsterdam,Pedro Dabadie,27,12,2,2,0,0
28,"[372, 267, 89, 106, 173, 161, 285]",Eindhoven,Edward Wilcox,28,7,4,4,0,1
29,"[360, 79, 122, 412, 198, 309]",Amsterdam,Kevin Peres,29,6,1,1,0,0
...,...,...,...,...,...,...,...,...,...
470,"[216, 195, 218, 239, 472, 281]",Amsterdam,Alex Campbell,470,6,3,2,1,0
471,"[116, 64, 195, 12]",Eindhoven,Roger Strong,471,4,3,2,1,1
472,"[81, 357, 47, 320, 26, 470, 304, 120, 449, 355]",Amsterdam,Christy Jones,472,10,5,5,0,0
473,"[482, 360, 142, 313, 215, 115, 108]",Amsterdam,Monica Ault,473,7,0,0,0,0
474,"[458, 396, 214, 310, 433, 109, 91, 354]",Eindhoven,Alexander Holman,474,8,3,2,1,1
475,"[227, 86, 132, 357, 300, 89, 15, 453, 246]",Eindhoven,Sue Ortiz,475,9,4,3,1,1
476,"[477, 327, 14, 165, 27, 152, 293, 439]",Eindhoven,Jerry Shields,476,8,5,4,1,1
477,"[161, 476, 50, 353, 446, 228, 43, 435]",Eindhoven,Lucinda Williams,477,8,6,6,0,1
478,"[296, 279, 458, 239, 81, 322, 383]",Eindhoven,Ray Meeker,478,7,3,2,1,1
479,"[18, 490, 493, 141, 281]",Eindhoven,Yetta Johns,479,5,3,3,0,1
480,"[14, 457, 315, 134, 125, 121]",Eindhoven,Grady Hall,480,6,3,1,2,1
481,"[35, 267, 294]",Amsterdam,Alice Drake,481,3,1,1,0,0
482,"[432, 413, 245, 473, 431, 368, 413, 280]",Eindhoven,Phyllis Mason,482,8,3,2,1,1
483,"[106, 257, 446, 445, 129]",Eindhoven,Linda Palacios,483,5,2,2,0,1
484,"[494, 240, 73, 205, 74]",Helmond,Craig Goldbach,484,5,1,1,0,2
485,"[212, 420, 75, 147, 285, 150, 279]",Eindhoven,Kenneth Colantro,485,7,2,2,0,1
486,"[260, 465, 497, 162, 334]",Helmond,Reginald Williams,486,5,0,0,0,2
487,"[18, 47, 161, 185, 21, 111, 336]",Amsterdam,Sandra Mara,487,7,3,2,1,0
488,"[18, 484, 107, 78, 149, 251, 183, 240]",Eindhoven,James Burch,488,8,2,2,0,1
489,"[279, 101, 136, 186, 13, 463, 36, 365]",Amsterdam,Jeanne Huang,489,8,2,2,0,0
490,"[495, 196, 276, 479, 246, 119, 119, 456, 60, 4...",Eindhoven,Donna Davis,490,13,8,6,2,1
491,"[129, 85, 18, 452, 430, 438, 331, 284, 371]",Amsterdam,Abbey Caldwell,491,9,3,3,0,0
492,"[26, 355, 270, 166, 150, 232, 171, 125, 398]",Amsterdam,Stanley Crain,492,9,6,4,2,0
493,"[113, 246, 122, 479]",Helmond,Brian Flores,493,4,0,0,0,2
494,"[484, 127, 439, 277, 386, 229, 408, 267]",Eindhoven,Bruce Rodriguez,494,8,2,1,1,1
495,"[490, 131, 159, 179, 266]",Eindhoven,Inez Green,495,5,5,5,0,1
496,"[56, 51, 202]",Eindhoven,Paul Coto,496,3,1,1,0,1
497,"[234, 465, 486, 179, 312]",Eindhoven,Linda Wald,497,5,3,2,1,1
498,"[261, 255, 92, 183, 476, 174, 31, 436]",Eindhoven,Wilbur Sylvester,498,8,3,2,1,1
499,"[254, 120, 485, 156]",Eindhoven,Pat Cox,499,4,3,2,1,1

# Start defining our features

In [3]:
base_columns = [
    tf.feature_column.numeric_column("edge_count"),
    tf.feature_column.numeric_column("edge_mutual_match"),
    tf.feature_column.numeric_column("edge_single_match")
]

In [23]:
m = tf.estimator.DNNClassifier(
    feature_columns=base_columns,
    hidden_units=[10, 30, 10],
    n_classes=len(locations)
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpksdilqqk
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpksdilqqk', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [24]:
def input_fn():
    df_data = df.dropna()
    return tf.estimator.inputs.numpy_input_fn(
        x={
            "edge_count": np.array(df['edge_count']),
            "edge_mutual_match": np.array(df['edge_mutual_match']),
            "edge_single_match": np.array(df['edge_single_match'])
        },
        y=df_data['location_num'],
        num_epochs=None,
        shuffle=True
    )

In [25]:
m.train(input_fn=input_fn(), steps=10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpksdilqqk/model.ckpt.
INFO:tensorflow:loss = 178.346, step = 1
INFO:tensorflow:global_step/sec: 698.025
INFO:tensorflow:loss = 94.1448, step = 101 (0.143 sec)
INFO:tensorflow:global_step/sec: 690.664
INFO:tensorflow:loss = 78.2101, step = 201 (0.146 sec)
INFO:tensorflow:global_step/sec: 522.39
INFO:tensorflow:loss = 83.4975, step = 301 (0.191 sec)
INFO:tensorflow:global_step/sec: 599.756
INFO:tensorflow:loss = 89.5809, step = 401 (0.167 sec)
INFO:tensorflow:global_step/sec: 613.344
INFO:tensorflow:loss = 82.6917, step = 501 (0.163 sec)
INFO:tensorflow:global_step/sec: 669.043
INFO:tensorflow:loss = 87.9747, step = 601 (0.150 sec)
INFO:tensorflow:global_step/sec: 643.894
INFO:tensorflow:loss = 76.6252, step = 701 (0.155 sec)
INFO:tensorflow:global_step/sec: 672.387
INFO:tensorflow:loss = 79.0786, step = 801 (0.149 sec)
INFO:tensorflow:global_step/sec: 583.279
INFO:tensorflow:loss = 88.1132, step = 901 (0.171 sec)
INFO:tensorflow:global_step/sec: 695.194
INFO:tensorflow:loss = 78.9655, step = 1001 (0.144 sec)
INFO:tensorflow:global_step/sec: 631.018
INFO:tensorflow:loss = 106.9, step = 1101 (0.158 sec)
INFO:tensorflow:global_step/sec: 738.109
INFO:tensorflow:loss = 82.4147, step = 1201 (0.135 sec)
INFO:tensorflow:global_step/sec: 677.213
INFO:tensorflow:loss = 88.5121, step = 1301 (0.148 sec)
INFO:tensorflow:global_step/sec: 730.46
INFO:tensorflow:loss = 80.9598, step = 1401 (0.137 sec)
INFO:tensorflow:global_step/sec: 632.298
INFO:tensorflow:loss = 71.0809, step = 1501 (0.158 sec)
INFO:tensorflow:global_step/sec: 537.6
INFO:tensorflow:loss = 93.489, step = 1601 (0.188 sec)
INFO:tensorflow:global_step/sec: 685.005
INFO:tensorflow:loss = 84.7881, step = 1701 (0.145 sec)
INFO:tensorflow:global_step/sec: 685.976
INFO:tensorflow:loss = 78.2245, step = 1801 (0.146 sec)
INFO:tensorflow:global_step/sec: 746.475
INFO:tensorflow:loss = 81.5452, step = 1901 (0.134 sec)
INFO:tensorflow:global_step/sec: 482.898
INFO:tensorflow:loss = 91.1059, step = 2001 (0.212 sec)
INFO:tensorflow:global_step/sec: 575.209
INFO:tensorflow:loss = 71.3098, step = 2101 (0.169 sec)
INFO:tensorflow:global_step/sec: 631.756
INFO:tensorflow:loss = 84.1517, step = 2201 (0.159 sec)
INFO:tensorflow:global_step/sec: 656.734
INFO:tensorflow:loss = 76.6149, step = 2301 (0.152 sec)
INFO:tensorflow:global_step/sec: 658.265
INFO:tensorflow:loss = 71.7318, step = 2401 (0.152 sec)
INFO:tensorflow:global_step/sec: 643.206
INFO:tensorflow:loss = 84.5781, step = 2501 (0.155 sec)
INFO:tensorflow:global_step/sec: 726.322
INFO:tensorflow:loss = 79.1807, step = 2601 (0.138 sec)
INFO:tensorflow:global_step/sec: 671.965
INFO:tensorflow:loss = 88.3954, step = 2701 (0.149 sec)
INFO:tensorflow:global_step/sec: 762.458
INFO:tensorflow:loss = 83.1222, step = 2801 (0.131 sec)
INFO:tensorflow:global_step/sec: 725.737
INFO:tensorflow:loss = 81.3551, step = 2901 (0.138 sec)
INFO:tensorflow:global_step/sec: 623.69
INFO:tensorflow:loss = 76.7738, step = 3001 (0.160 sec)
INFO:tensorflow:global_step/sec: 636.025
INFO:tensorflow:loss = 74.8914, step = 3101 (0.157 sec)
INFO:tensorflow:global_step/sec: 715.684
INFO:tensorflow:loss = 82.2941, step = 3201 (0.141 sec)
INFO:tensorflow:global_step/sec: 616.584
INFO:tensorflow:loss = 94.3086, step = 3301 (0.161 sec)
INFO:tensorflow:global_step/sec: 669.48
INFO:tensorflow:loss = 93.5559, step = 3401 (0.149 sec)
INFO:tensorflow:global_step/sec: 638.443
INFO:tensorflow:loss = 81.4467, step = 3501 (0.157 sec)
INFO:tensorflow:global_step/sec: 757.937
INFO:tensorflow:loss = 68.1423, step = 3601 (0.133 sec)
INFO:tensorflow:global_step/sec: 743.436
INFO:tensorflow:loss = 83.9981, step = 3701 (0.134 sec)
INFO:tensorflow:global_step/sec: 759.857
INFO:tensorflow:loss = 84.2107, step = 3801 (0.132 sec)
INFO:tensorflow:global_step/sec: 496.662
INFO:tensorflow:loss = 78.7627, step = 3901 (0.205 sec)
INFO:tensorflow:global_step/sec: 672.714
INFO:tensorflow:loss = 81.0984, step = 4001 (0.146 sec)
INFO:tensorflow:global_step/sec: 650.839
INFO:tensorflow:loss = 88.1415, step = 4101 (0.153 sec)
INFO:tensorflow:global_step/sec: 677.074
INFO:tensorflow:loss = 74.3146, step = 4201 (0.148 sec)
INFO:tensorflow:global_step/sec: 639.71
INFO:tensorflow:loss = 71.6655, step = 4301 (0.155 sec)
INFO:tensorflow:global_step/sec: 621.724
INFO:tensorflow:loss = 80.5323, step = 4401 (0.161 sec)
INFO:tensorflow:global_step/sec: 430.312
INFO:tensorflow:loss = 87.381, step = 4501 (0.234 sec)
INFO:tensorflow:global_step/sec: 537.706
INFO:tensorflow:loss = 87.6115, step = 4601 (0.187 sec)
INFO:tensorflow:global_step/sec: 614.196
INFO:tensorflow:loss = 89.5342, step = 4701 (0.160 sec)
INFO:tensorflow:global_step/sec: 688.597
INFO:tensorflow:loss = 87.2122, step = 4801 (0.146 sec)
INFO:tensorflow:global_step/sec: 465.28
INFO:tensorflow:loss = 82.2746, step = 4901 (0.217 sec)
INFO:tensorflow:global_step/sec: 430.344
INFO:tensorflow:loss = 76.1966, step = 5001 (0.233 sec)
INFO:tensorflow:global_step/sec: 438.735
INFO:tensorflow:loss = 84.2288, step = 5101 (0.228 sec)
INFO:tensorflow:global_step/sec: 432.245
INFO:tensorflow:loss = 75.5072, step = 5201 (0.231 sec)
INFO:tensorflow:global_step/sec: 536.099
INFO:tensorflow:loss = 69.6028, step = 5301 (0.184 sec)
INFO:tensorflow:global_step/sec: 728.221
INFO:tensorflow:loss = 87.8076, step = 5401 (0.137 sec)
INFO:tensorflow:global_step/sec: 739.894
INFO:tensorflow:loss = 93.6994, step = 5501 (0.135 sec)
INFO:tensorflow:global_step/sec: 742.192
INFO:tensorflow:loss = 72.6306, step = 5601 (0.134 sec)
INFO:tensorflow:global_step/sec: 669.327
INFO:tensorflow:loss = 82.1992, step = 5701 (0.149 sec)
INFO:tensorflow:global_step/sec: 760.532
INFO:tensorflow:loss = 75.92, step = 5801 (0.132 sec)
INFO:tensorflow:global_step/sec: 670.708
INFO:tensorflow:loss = 77.5966, step = 5901 (0.149 sec)
INFO:tensorflow:global_step/sec: 799
INFO:tensorflow:loss = 70.5471, step = 6001 (0.125 sec)
INFO:tensorflow:global_step/sec: 766.922
INFO:tensorflow:loss = 88.9998, step = 6101 (0.131 sec)
INFO:tensorflow:global_step/sec: 723.886
INFO:tensorflow:loss = 81.6069, step = 6201 (0.137 sec)
INFO:tensorflow:global_step/sec: 748.111
INFO:tensorflow:loss = 81.716, step = 6301 (0.134 sec)
INFO:tensorflow:global_step/sec: 789.575
INFO:tensorflow:loss = 82.4028, step = 6401 (0.126 sec)
INFO:tensorflow:global_step/sec: 691.309
INFO:tensorflow:loss = 95.6917, step = 6501 (0.144 sec)
INFO:tensorflow:global_step/sec: 761.157
INFO:tensorflow:loss = 78.7144, step = 6601 (0.132 sec)
INFO:tensorflow:global_step/sec: 704.379
INFO:tensorflow:loss = 69.5067, step = 6701 (0.142 sec)
INFO:tensorflow:global_step/sec: 690.747
INFO:tensorflow:loss = 70.8782, step = 6801 (0.144 sec)
INFO:tensorflow:global_step/sec: 757.999
INFO:tensorflow:loss = 85.4805, step = 6901 (0.133 sec)
INFO:tensorflow:global_step/sec: 784.239
INFO:tensorflow:loss = 95.653, step = 7001 (0.128 sec)
INFO:tensorflow:global_step/sec: 682.546
INFO:tensorflow:loss = 74.3382, step = 7101 (0.147 sec)
INFO:tensorflow:global_step/sec: 780.135
INFO:tensorflow:loss = 70.4187, step = 7201 (0.128 sec)
INFO:tensorflow:global_step/sec: 780.295
INFO:tensorflow:loss = 77.1362, step = 7301 (0.129 sec)
INFO:tensorflow:global_step/sec: 718.238
INFO:tensorflow:loss = 85.961, step = 7401 (0.140 sec)
INFO:tensorflow:global_step/sec: 634.79
INFO:tensorflow:loss = 64.7292, step = 7501 (0.156 sec)
INFO:tensorflow:global_step/sec: 530.957
INFO:tensorflow:loss = 67.8804, step = 7601 (0.190 sec)
INFO:tensorflow:global_step/sec: 499.297
INFO:tensorflow:loss = 83.7048, step = 7701 (0.200 sec)
INFO:tensorflow:global_step/sec: 462.084
INFO:tensorflow:loss = 81.7279, step = 7801 (0.216 sec)
INFO:tensorflow:global_step/sec: 575.082
INFO:tensorflow:loss = 78.5469, step = 7901 (0.174 sec)
INFO:tensorflow:global_step/sec: 719.396
INFO:tensorflow:loss = 82.9623, step = 8001 (0.138 sec)
INFO:tensorflow:global_step/sec: 745.692
INFO:tensorflow:loss = 84.4218, step = 8101 (0.134 sec)
INFO:tensorflow:global_step/sec: 864.415
INFO:tensorflow:loss = 90.072, step = 8201 (0.116 sec)
INFO:tensorflow:global_step/sec: 768.418
INFO:tensorflow:loss = 78.1008, step = 8301 (0.130 sec)
INFO:tensorflow:global_step/sec: 589.871

INFO:tensorflow:loss = 77.4241, step = 8401 (0.171 sec)
INFO:tensorflow:global_step/sec: 496.686
INFO:tensorflow:loss = 85.316, step = 8501 (0.202 sec)
INFO:tensorflow:global_step/sec: 545.544
INFO:tensorflow:loss = 83.2689, step = 8601 (0.181 sec)
INFO:tensorflow:global_step/sec: 728.283
INFO:tensorflow:loss = 80.2291, step = 8701 (0.137 sec)
INFO:tensorflow:global_step/sec: 745.098
INFO:tensorflow:loss = 81.1729, step = 8801 (0.135 sec)
INFO:tensorflow:global_step/sec: 741.274
INFO:tensorflow:loss = 65.3589, step = 8901 (0.134 sec)
INFO:tensorflow:global_step/sec: 758.948
INFO:tensorflow:loss = 90.3007, step = 9001 (0.133 sec)
INFO:tensorflow:global_step/sec: 750.535
INFO:tensorflow:loss = 73.4736, step = 9101 (0.132 sec)
INFO:tensorflow:global_step/sec: 740.483
INFO:tensorflow:loss = 82.5838, step = 9201 (0.135 sec)
INFO:tensorflow:global_step/sec: 754.495
INFO:tensorflow:loss = 87.3754, step = 9301 (0.133 sec)
INFO:tensorflow:global_step/sec: 779.993
INFO:tensorflow:loss = 77.8132, step = 9401 (0.129 sec)
INFO:tensorflow:global_step/sec: 639.541
INFO:tensorflow:loss = 78.5396, step = 9501 (0.156 sec)
INFO:tensorflow:global_step/sec: 659.879
INFO:tensorflow:loss = 89.6247, step = 9601 (0.152 sec)
INFO:tensorflow:global_step/sec: 736.22
INFO:tensorflow:loss = 86.2905, step = 9701 (0.137 sec)
INFO:tensorflow:global_step/sec: 812.613
INFO:tensorflow:loss = 76.1729, step = 9801 (0.123 sec)
INFO:tensorflow:global_step/sec: 816.394
INFO:tensorflow:loss = 82.5318, step = 9901 (0.123 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmpksdilqqk/model.ckpt.
INFO:tensorflow:Loss for final step: 77.3635.

## Start predicting

We now have a properly trained DNN. Time to start predicting

In [21]:
new_preds = np.array(
[
    [10, 1, 0],
    [9, 3, 1]
])

predict_input_fn =  tf.estimator.inputs.numpy_input_fn(
    x={
        "edge_count": new_preds[::,0],
        "edge_mutual_match": new_preds[::,1],
        "edge_single_match": new_preds[::, 2]
    },
    num_epochs=1,
    shuffle=False
)

In [22]:
predictions = list(m.predict(input_fn=predict_input_fn))
predicted_classes = [p["classes"] for p in predictions]
print("New Samples, Class Predictions: {}\n".format(predicted_classes))

INFO:tensorflow:Restoring parameters from /tmp/tmpmzgi3_n7/model.ckpt-10000
New Samples, Class Predictions: [array([b'0'], dtype=object), array([b'1'], dtype=object)]