In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import tempfile

# Import and prepare data

First we read `data.json`

We then start processing this data so we can prepare it for a DNN Classiffier. We prep 4 columns

- edge_count: Total number of edges
- edge_match: Nodes that we know that share the location of this node
- edge_mutual_match: Nodes that we know share the location of this node AND mutually follows this node
- edge_single_match: Nodes that we know share the location of this node BUT does not know this node

In [2]:
df = pd.read_json('data.json')

locations = list(set(df['location']))
df['edge_count'] =  df['edges'].apply(lambda x: len(x))
df['edge_match'] = df.apply(lambda x: len([1 for y in x['edges'] if df.iloc[y]['location']==x['location']]), axis=1)
df['edge_mutual_match'] = df.apply(lambda x: 
                                    len([1 for y in x['edges'] if 
                                         df.iloc[y]['location']==x['location'] and 
                                         int(x['pk']) in df.iloc[y]['edges']]), 
                                    axis=1
                                   )
df['edge_single_match'] = df.apply(lambda x: 
                                    x['edge_match'] -x['edge_mutual_match'], 
                                    axis=1)
df['location_num'] = df['location'].apply(lambda x: locations.index(x))
df

,edges,location,name,pk,edge_count,edge_match,edge_mutual_match,edge_single_match,location_num
0,"[59, 374, 450, 239]",Eindhoven,Robert Mulloy,0,4,3,1,2,1
1,"[483, 340]",Amsterdam,Frank Salmon,1,2,0,0,0,0
2,"[186, 424]",Amsterdam,Sheila Mandell,2,2,0,0,0,0
3,"[356, 93, 236, 456, 140, 30]",Eindhoven,Barbara Bolf,3,6,4,3,1,1
4,"[123, 38, 439, 7, 17, 109, 476, 394, 196, 307]",Amsterdam,Joseph Patterson,4,10,5,5,0,0
5,"[102, 399, 245, 499, 155, 380, 157, 416]",Eindhoven,Marilyn Spencer,5,8,7,4,3,1
6,"[410, 58, 337, 291, 29, 101]",Eindhoven,Aaron Roberts,6,6,2,2,0,1
7,"[280, 87, 179, 417, 4, 69, 105, 210, 243, 467]",Amsterdam,Marjorie Shipley,7,10,2,2,0,0
8,"[150, 238, 29, 251, 279]",Amsterdam,Kyra Benjamen,8,5,2,1,1,0
9,"[97, 140, 152, 73]",Eindhoven,Jerome Smith,9,4,2,1,1,1
10,"[459, 277, 348, 451, 225, 369]",Helmond,Curtis Deweese,10,6,2,2,0,2
11,"[30, 399, 321]",Eindhoven,Dean Jenkins,11,3,2,2,0,1
12,"[41, 55, 457, 294, 51, 379, 471, 23, 19]",Amsterdam,Edna Brooks,12,9,1,1,0,0
13,"[15, 377, 75, 151, 345, 465, 241, 432]",Eindhoven,Mary Hammett,13,8,3,1,2,1
14,"[480, 326, 476, 152, 357, 409, 398, 181]",Eindhoven,Loretta Johnston,14,8,4,4,0,1
15,"[13, 172, 52, 101, 430, 428, 206]",Eindhoven,Margie Dillon,15,7,3,3,0,1
16,"[114, 301, 417]",Eindhoven,Betty Johnson,16,3,1,1,0,1
17,"[395, 347, 4, 139, 415, 97, 30]",Eindhoven,Bryon Tamm,17,7,2,1,1,1
18,"[488, 400, 250, 487, 479, 100, 491, 292, 367, ...",Eindhoven,Sam Phillips,18,10,6,5,1,1
19,"[388, 44, 207, 96, 467, 12, 469, 96]",Helmond,Lillie Lyon,19,8,0,0,0,2
20,"[460, 128, 51, 382]",Eindhoven,Casey Walker,20,4,2,2,0,1
21,"[90, 230, 192, 462, 166, 276, 152]",Amsterdam,Rachel Ginn,21,7,1,1,0,0
22,"[161, 236, 95, 146, 154, 299, 354, 404, 59]",Helmond,Dyan Clapp,22,9,1,1,0,2
23,"[258, 431]",Eindhoven,Justin Sherman,23,2,2,2,0,1
24,"[325, 285, 458]",Helmond,William Rogers,24,3,2,2,0,2
25,"[336, 170, 271, 173, 182, 453, 466, 371, 434, ...",Eindhoven,Herbert Orlowski,25,10,5,5,0,1
26,"[309, 492, 62, 331, 275, 70, 413, 456, 90]",Eindhoven,Randy Watson,26,9,4,4,0,1
27,"[56, 35, 218, 156, 295, 90, 218, 300, 236, 476...",Amsterdam,Pedro Dabadie,27,12,2,2,0,0
28,"[372, 267, 89, 106, 173, 161, 285]",Eindhoven,Edward Wilcox,28,7,4,4,0,1
29,"[360, 79, 122, 412, 198, 309]",Amsterdam,Kevin Peres,29,6,1,1,0,0
...,...,...,...,...,...,...,...,...,...
470,"[216, 195, 218, 239, 472, 281]",Amsterdam,Alex Campbell,470,6,3,2,1,0
471,"[116, 64, 195, 12]",Eindhoven,Roger Strong,471,4,3,2,1,1
472,"[81, 357, 47, 320, 26, 470, 304, 120, 449, 355]",Amsterdam,Christy Jones,472,10,5,5,0,0
473,"[482, 360, 142, 313, 215, 115, 108]",Amsterdam,Monica Ault,473,7,0,0,0,0
474,"[458, 396, 214, 310, 433, 109, 91, 354]",Eindhoven,Alexander Holman,474,8,3,2,1,1
475,"[227, 86, 132, 357, 300, 89, 15, 453, 246]",Eindhoven,Sue Ortiz,475,9,4,3,1,1
476,"[477, 327, 14, 165, 27, 152, 293, 439]",Eindhoven,Jerry Shields,476,8,5,4,1,1
477,"[161, 476, 50, 353, 446, 228, 43, 435]",Eindhoven,Lucinda Williams,477,8,6,6,0,1
478,"[296, 279, 458, 239, 81, 322, 383]",Eindhoven,Ray Meeker,478,7,3,2,1,1
479,"[18, 490, 493, 141, 281]",Eindhoven,Yetta Johns,479,5,3,3,0,1
480,"[14, 457, 315, 134, 125, 121]",Eindhoven,Grady Hall,480,6,3,1,2,1
481,"[35, 267, 294]",Amsterdam,Alice Drake,481,3,1,1,0,0
482,"[432, 413, 245, 473, 431, 368, 413, 280]",Eindhoven,Phyllis Mason,482,8,3,2,1,1
483,"[106, 257, 446, 445, 129]",Eindhoven,Linda Palacios,483,5,2,2,0,1
484,"[494, 240, 73, 205, 74]",Helmond,Craig Goldbach,484,5,1,1,0,2
485,"[212, 420, 75, 147, 285, 150, 279]",Eindhoven,Kenneth Colantro,485,7,2,2,0,1
486,"[260, 465, 497, 162, 334]",Helmond,Reginald Williams,486,5,0,0,0,2
487,"[18, 47, 161, 185, 21, 111, 336]",Amsterdam,Sandra Mara,487,7,3,2,1,0
488,"[18, 484, 107, 78, 149, 251, 183, 240]",Eindhoven,James Burch,488,8,2,2,0,1
489,"[279, 101, 136, 186, 13, 463, 36, 365]",Amsterdam,Jeanne Huang,489,8,2,2,0,0
490,"[495, 196, 276, 479, 246, 119, 119, 456, 60, 4...",Eindhoven,Donna Davis,490,13,8,6,2,1
491,"[129, 85, 18, 452, 430, 438, 331, 284, 371]",Amsterdam,Abbey Caldwell,491,9,3,3,0,0
492,"[26, 355, 270, 166, 150, 232, 171, 125, 398]",Amsterdam,Stanley Crain,492,9,6,4,2,0
493,"[113, 246, 122, 479]",Helmond,Brian Flores,493,4,0,0,0,2
494,"[484, 127, 439, 277, 386, 229, 408, 267]",Eindhoven,Bruce Rodriguez,494,8,2,1,1,1
495,"[490, 131, 159, 179, 266]",Eindhoven,Inez Green,495,5,5,5,0,1
496,"[56, 51, 202]",Eindhoven,Paul Coto,496,3,1,1,0,1
497,"[234, 465, 486, 179, 312]",Eindhoven,Linda Wald,497,5,3,2,1,1
498,"[261, 255, 92, 183, 476, 174, 31, 436]",Eindhoven,Wilbur Sylvester,498,8,3,2,1,1
499,"[254, 120, 485, 156]",Eindhoven,Pat Cox,499,4,3,2,1,1

# Start defining our features

In [3]:
base_columns = [
    tf.feature_column.numeric_column("edge_count"),
    tf.feature_column.numeric_column("edge_mutual_match"),
    tf.feature_column.numeric_column("edge_single_match")
]

In [4]:
m = tf.estimator.DNNClassifier(
    feature_columns=base_columns,
    hidden_units=[10, 50, 10],
    n_classes=len(locations)
)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpy6knz1jb
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpy6knz1jb', '_tf_random_seed': 1, '_save_summary_steps': 100, '_save_checkpoints_secs': 600, '_save_checkpoints_steps': None, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100}

In [5]:
def input_fn():
    df_data = df.dropna()
    return tf.estimator.inputs.numpy_input_fn(
        x={
            "edge_count": np.array(df['edge_count']),
            "edge_mutual_match": np.array(df['edge_mutual_match']),
            "edge_single_match": np.array(df['edge_single_match'])
        },
        y=df_data['location_num'],
        num_epochs=None,
        shuffle=True
    )

In [6]:
m.train(input_fn=input_fn(), steps=10000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpy6knz1jb/model.ckpt.
INFO:tensorflow:loss = 156.791, step = 1
INFO:tensorflow:global_step/sec: 738.249
INFO:tensorflow:loss = 93.9771, step = 101 (0.137 sec)
INFO:tensorflow:global_step/sec: 624.935
INFO:tensorflow:loss = 79.6364, step = 201 (0.160 sec)
INFO:tensorflow:global_step/sec: 739.921
INFO:tensorflow:loss = 80.1293, step = 301 (0.135 sec)
INFO:tensorflow:global_step/sec: 735.331
INFO:tensorflow:loss = 90.3535, step = 401 (0.136 sec)
INFO:tensorflow:global_step/sec: 754.542
INFO:tensorflow:loss = 99.3667, step = 501 (0.132 sec)
INFO:tensorflow:global_step/sec: 737.6
INFO:tensorflow:loss = 82.6181, step = 601 (0.136 sec)
INFO:tensorflow:global_step/sec: 722.725
INFO:tensorflow:loss = 86.2122, step = 701 (0.138 sec)
INFO:tensorflow:global_step/sec: 483.691
INFO:tensorflow:loss = 79.7949, step = 801 (0.210 sec)
INFO:tensorflow:global_step/sec: 533.696
INFO:tensorflow:loss = 87.7103, step = 901 (0.185 sec)
INFO:tensorflow:global_step/sec: 651.79
INFO:tensorflow:loss = 90.273, step = 1001 (0.153 sec)
INFO:tensorflow:global_step/sec: 509.725
INFO:tensorflow:loss = 86.9643, step = 1101 (0.199 sec)
INFO:tensorflow:global_step/sec: 542.557
INFO:tensorflow:loss = 89.2422, step = 1201 (0.181 sec)
INFO:tensorflow:global_step/sec: 676.789
INFO:tensorflow:loss = 87.1062, step = 1301 (0.148 sec)
INFO:tensorflow:global_step/sec: 683.4
INFO:tensorflow:loss = 88.1886, step = 1401 (0.146 sec)
INFO:tensorflow:global_step/sec: 725.909
INFO:tensorflow:loss = 93.6157, step = 1501 (0.137 sec)
INFO:tensorflow:global_step/sec: 662.976
INFO:tensorflow:loss = 82.228, step = 1601 (0.150 sec)
INFO:tensorflow:global_step/sec: 726.99
INFO:tensorflow:loss = 87.9021, step = 1701 (0.137 sec)
INFO:tensorflow:global_step/sec: 564.505
INFO:tensorflow:loss = 97.2936, step = 1801 (0.180 sec)
INFO:tensorflow:global_step/sec: 503.278
INFO:tensorflow:loss = 74.3881, step = 1901 (0.198 sec)
INFO:tensorflow:global_step/sec: 756.851
INFO:tensorflow:loss = 95.4862, step = 2001 (0.131 sec)
INFO:tensorflow:global_step/sec: 612.928
INFO:tensorflow:loss = 87.1902, step = 2101 (0.163 sec)
INFO:tensorflow:global_step/sec: 708.386
INFO:tensorflow:loss = 79.4878, step = 2201 (0.141 sec)
INFO:tensorflow:global_step/sec: 459.902
INFO:tensorflow:loss = 72.3656, step = 2301 (0.218 sec)
INFO:tensorflow:global_step/sec: 673.546
INFO:tensorflow:loss = 95.405, step = 2401 (0.147 sec)
INFO:tensorflow:global_step/sec: 767.384
INFO:tensorflow:loss = 81.0658, step = 2501 (0.130 sec)
INFO:tensorflow:global_step/sec: 648.066
INFO:tensorflow:loss = 72.9619, step = 2601 (0.154 sec)
INFO:tensorflow:global_step/sec: 756.367
INFO:tensorflow:loss = 79.5239, step = 2701 (0.132 sec)
INFO:tensorflow:global_step/sec: 698.376
INFO:tensorflow:loss = 83.82, step = 2801 (0.143 sec)
INFO:tensorflow:global_step/sec: 754.591
INFO:tensorflow:loss = 82.9592, step = 2901 (0.133 sec)
INFO:tensorflow:global_step/sec: 586.255
INFO:tensorflow:loss = 74.7504, step = 3001 (0.172 sec)
INFO:tensorflow:global_step/sec: 443.539
INFO:tensorflow:loss = 86.8502, step = 3101 (0.232 sec)
INFO:tensorflow:global_step/sec: 650.416
INFO:tensorflow:loss = 81.5721, step = 3201 (0.146 sec)
INFO:tensorflow:global_step/sec: 698.727
INFO:tensorflow:loss = 82.12, step = 3301 (0.143 sec)
INFO:tensorflow:global_step/sec: 695.598
INFO:tensorflow:loss = 68.7451, step = 3401 (0.143 sec)
INFO:tensorflow:global_step/sec: 720.3
INFO:tensorflow:loss = 79.9416, step = 3501 (0.140 sec)
INFO:tensorflow:global_step/sec: 749.451
INFO:tensorflow:loss = 70.2512, step = 3601 (0.134 sec)
INFO:tensorflow:global_step/sec: 682.359
INFO:tensorflow:loss = 96.4959, step = 3701 (0.146 sec)
INFO:tensorflow:global_step/sec: 734.161
INFO:tensorflow:loss = 89.3675, step = 3801 (0.136 sec)
INFO:tensorflow:global_step/sec: 677.098
INFO:tensorflow:loss = 81.0853, step = 3901 (0.148 sec)
INFO:tensorflow:global_step/sec: 711.23
INFO:tensorflow:loss = 80.264, step = 4001 (0.141 sec)
INFO:tensorflow:global_step/sec: 748.053
INFO:tensorflow:loss = 78.3713, step = 4101 (0.134 sec)
INFO:tensorflow:global_step/sec: 463.933
INFO:tensorflow:loss = 90.0729, step = 4201 (0.218 sec)
INFO:tensorflow:global_step/sec: 577.03
INFO:tensorflow:loss = 85.549, step = 4301 (0.170 sec)
INFO:tensorflow:global_step/sec: 722.406
INFO:tensorflow:loss = 86.38, step = 4401 (0.141 sec)
INFO:tensorflow:global_step/sec: 454.093
INFO:tensorflow:loss = 83.6863, step = 4501 (0.222 sec)
INFO:tensorflow:global_step/sec: 684.736
INFO:tensorflow:loss = 82.8134, step = 4601 (0.142 sec)
INFO:tensorflow:global_step/sec: 732.697
INFO:tensorflow:loss = 70.1277, step = 4701 (0.136 sec)
INFO:tensorflow:global_step/sec: 744.747
INFO:tensorflow:loss = 82.2866, step = 4801 (0.135 sec)
INFO:tensorflow:global_step/sec: 547.506
INFO:tensorflow:loss = 83.5217, step = 4901 (0.185 sec)
INFO:tensorflow:global_step/sec: 396.579
INFO:tensorflow:loss = 87.9194, step = 5001 (0.248 sec)
INFO:tensorflow:global_step/sec: 681.432
INFO:tensorflow:loss = 85.4774, step = 5101 (0.148 sec)
INFO:tensorflow:global_step/sec: 714.728
INFO:tensorflow:loss = 93.8224, step = 5201 (0.140 sec)
INFO:tensorflow:global_step/sec: 740.938
INFO:tensorflow:loss = 78.447, step = 5301 (0.135 sec)
INFO:tensorflow:global_step/sec: 729.595
INFO:tensorflow:loss = 84.8645, step = 5401 (0.137 sec)
INFO:tensorflow:global_step/sec: 734.492
INFO:tensorflow:loss = 89.0083, step = 5501 (0.137 sec)
INFO:tensorflow:global_step/sec: 708.112
INFO:tensorflow:loss = 86.0173, step = 5601 (0.141 sec)
INFO:tensorflow:global_step/sec: 746.096
INFO:tensorflow:loss = 87.3438, step = 5701 (0.134 sec)
INFO:tensorflow:global_step/sec: 747.825
INFO:tensorflow:loss = 79.5436, step = 5801 (0.134 sec)
INFO:tensorflow:global_step/sec: 763.997
INFO:tensorflow:loss = 80.5519, step = 5901 (0.131 sec)
INFO:tensorflow:global_step/sec: 778.994
INFO:tensorflow:loss = 72.2375, step = 6001 (0.128 sec)
INFO:tensorflow:global_step/sec: 759.003
INFO:tensorflow:loss = 85.5089, step = 6101 (0.132 sec)
INFO:tensorflow:global_step/sec: 699.179
INFO:tensorflow:loss = 81.4792, step = 6201 (0.143 sec)
INFO:tensorflow:global_step/sec: 760.957
INFO:tensorflow:loss = 77.0476, step = 6301 (0.131 sec)
INFO:tensorflow:global_step/sec: 769.456
INFO:tensorflow:loss = 91.6667, step = 6401 (0.130 sec)
INFO:tensorflow:global_step/sec: 771.197
INFO:tensorflow:loss = 71.9319, step = 6501 (0.130 sec)
INFO:tensorflow:global_step/sec: 730.186
INFO:tensorflow:loss = 77.1392, step = 6601 (0.137 sec)
INFO:tensorflow:global_step/sec: 768.577
INFO:tensorflow:loss = 75.2326, step = 6701 (0.131 sec)
INFO:tensorflow:global_step/sec: 768.015
INFO:tensorflow:loss = 86.4799, step = 6801 (0.130 sec)
INFO:tensorflow:global_step/sec: 739.265
INFO:tensorflow:loss = 73.1162, step = 6901 (0.135 sec)
INFO:tensorflow:global_step/sec: 752.64
INFO:tensorflow:loss = 84.4104, step = 7001 (0.133 sec)
INFO:tensorflow:global_step/sec: 796.509
INFO:tensorflow:loss = 82.3556, step = 7101 (0.126 sec)
INFO:tensorflow:global_step/sec: 808.525
INFO:tensorflow:loss = 74.6006, step = 7201 (0.124 sec)
INFO:tensorflow:global_step/sec: 744.319
INFO:tensorflow:loss = 80.511, step = 7301 (0.134 sec)
INFO:tensorflow:global_step/sec: 696.21
INFO:tensorflow:loss = 68.0471, step = 7401 (0.144 sec)
INFO:tensorflow:global_step/sec: 701.567
INFO:tensorflow:loss = 87.1381, step = 7501 (0.142 sec)
INFO:tensorflow:global_step/sec: 768.088
INFO:tensorflow:loss = 84.8844, step = 7601 (0.130 sec)
INFO:tensorflow:global_step/sec: 764.204
INFO:tensorflow:loss = 73.2555, step = 7701 (0.132 sec)
INFO:tensorflow:global_step/sec: 812.971
INFO:tensorflow:loss = 76.7026, step = 7801 (0.123 sec)
INFO:tensorflow:global_step/sec: 751.763
INFO:tensorflow:loss = 81.3969, step = 7901 (0.132 sec)
INFO:tensorflow:global_step/sec: 738.387
INFO:tensorflow:loss = 75.6064, step = 8001 (0.136 sec)
INFO:tensorflow:global_step/sec: 678.009
INFO:tensorflow:loss = 80.9238, step = 8101 (0.147 sec)
INFO:tensorflow:global_step/sec: 737.356
INFO:tensorflow:loss = 80.4339, step = 8201 (0.135 sec)
INFO:tensorflow:global_step/sec: 789.586
INFO:tensorflow:loss = 72.8218, step = 8301 (0.127 sec)
INFO:tensorflow:global_step/sec: 748.044

INFO:tensorflow:loss = 83.9329, step = 8401 (0.134 sec)
INFO:tensorflow:global_step/sec: 766.191
INFO:tensorflow:loss = 73.2151, step = 8501 (0.130 sec)
INFO:tensorflow:global_step/sec: 645.305
INFO:tensorflow:loss = 79.9508, step = 8601 (0.154 sec)
INFO:tensorflow:global_step/sec: 799.759
INFO:tensorflow:loss = 71.5809, step = 8701 (0.126 sec)
INFO:tensorflow:global_step/sec: 790.853
INFO:tensorflow:loss = 80.5636, step = 8801 (0.126 sec)
INFO:tensorflow:global_step/sec: 771.115
INFO:tensorflow:loss = 78.0522, step = 8901 (0.130 sec)
INFO:tensorflow:global_step/sec: 811.86
INFO:tensorflow:loss = 88.2074, step = 9001 (0.123 sec)
INFO:tensorflow:global_step/sec: 829.847
INFO:tensorflow:loss = 72.5455, step = 9101 (0.120 sec)
INFO:tensorflow:global_step/sec: 802.407
INFO:tensorflow:loss = 82.8764, step = 9201 (0.125 sec)
INFO:tensorflow:global_step/sec: 759.714
INFO:tensorflow:loss = 84.812, step = 9301 (0.130 sec)
INFO:tensorflow:global_step/sec: 654.138
INFO:tensorflow:loss = 104.68, step = 9401 (0.154 sec)
INFO:tensorflow:global_step/sec: 648.111
INFO:tensorflow:loss = 74.1351, step = 9501 (0.154 sec)
INFO:tensorflow:global_step/sec: 745.931
INFO:tensorflow:loss = 83.3591, step = 9601 (0.134 sec)
INFO:tensorflow:global_step/sec: 748.61
INFO:tensorflow:loss = 91.4179, step = 9701 (0.134 sec)
INFO:tensorflow:global_step/sec: 793.952
INFO:tensorflow:loss = 93.6483, step = 9801 (0.128 sec)
INFO:tensorflow:global_step/sec: 759.831
INFO:tensorflow:loss = 70.4114, step = 9901 (0.128 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmpy6knz1jb/model.ckpt.
INFO:tensorflow:Loss for final step: 82.3807.

## Start predicting

We now have a properly trained DNN. Time to start predicting

In [19]:
new_prods = np.array(
[
    [10, 5, 2],
    [9, 1, 7]
])

predict_input_fn =  tf.estimator.inputs.numpy_input_fn(
    x={
        "edge_count": new_prods[::,0],
        "edge_mutual_match": new_prods[::,1],
        "edge_single_match": new_prods[::, 2]
    },
    num_epochs=1,
    shuffle=False
)

In [24]:
predictions = list(m.predict(input_fn=predict_input_fn))
predicted_classes = [p["classes"] for p in predictions]
print("New Samples, Class Predictions: {}\n".format(locations[predicted_classes))

INFO:tensorflow:Restoring parameters from /tmp/tmpy6knz1jb/model.ckpt-10000

TypeError: list indices must be integers or slices, not list